<template>
  <footer>
    <router-link to="/about">About us</router-link>
    <router-link to="/allPhotos">All photos</router-link>
    <a>Information</a>
    <router-link to="/companies">Companies</router-link>
  </footer>
</template>

<script>
export default {
  name: "footerVue"
};
</script>
