<template>
  <section>
    <h3>Edit Company</h3>
    <div class="wrap-list-companies">
      <p class="title-context">You can change the name of the company from the list:</p>
      <ItemListEdit
        v-for="item in allCompanies"
        :key="item._id"
        :item="item"
        @updateAfterApply="updateAfterApply"
      />
    </div>
  </section>
</template>

<script>
  import ItemListEdit from "./ContextItems/ItemListEdit";
  export default {
    name: 'contextEdit',
    props: {
      allCompanies: Array
    },
    components: {
      ItemListEdit
    },
    methods: {
      updateAfterApply() {
        this.$emit('updateData');
        this.$emit('closeModal');
      }
    }
  }
</script>
