<template>
  <section>
    <h3>Add Company</h3>
    <div>
      <form id="add-company" ref="dataNewCompany">
        <input
          type="text"
          name="name_company"
          class="custom-button btn-modal name-company"
          placeholder="Company Name"
          v-model="nameCompany"
          required
        />
        <div class="errors">
          <span v-if="showError">field will be required</span>
        </div>
        <button
          type="submit"
          class="custom-button btn-modal"
          @click.prevent="addCompany"
        >
          save
        </button>
        <button
          class="custom-button btn-modal"
          @click.prevent="cancelAddCompany"
        >
          cancel
        </button>
      </form>
      <SystemMessage
        :class="{ showSystemMessage: isSystemMessage }"
        @toggleSystemMessage="toggleSystemMessage"
        @closeAll="closeAll"
      />
    </div>
  </section>
</template>

<script>
  import axios from "axios";
  import { serverURL } from "../../config";
  import SystemMessage from "./SystemMessages/SystemMessage";

  export default {
    name: 'contextAdd',
    components: {
      SystemMessage
    },
    data() {
      return {
        isSystemMessage: false,
        nameCompany: '',
        showError: false,
      }
    },
    methods: {
      toggleSystemMessage() {
        this.isSystemMessage = !this.isSystemMessage;
      },
      setDefaultProps() {
        this.nameCompany = '';
        this.showError = false;
      },
      closeAll() {
        this.setDefaultProps();
        this.toggleSystemMessage();
        this.$emit('closeModal');
      },
      cancelAddCompany() {
        if(!this.nameCompany) {
          this.setDefaultProps();
          this.$emit('closeModal');
        } else {
          this.toggleSystemMessage();
        }
      },
      addCompany() {
        if(!this.nameCompany) {
          this.showError = true;
        }
        if(this.nameCompany) {
          this.setNewCompany();
          this.setDefaultProps();
          this.$emit('closeModal');
          this.$emit('updateData');
        }
      },
      setNewCompany() {
        const newName = this.nameCompany;
        axios
          .post(`${serverURL}/companies`, { name: newName })
          .then(response => {
            if (response.data) {
              return true;
            }
          })
          .catch(err => {
            console.log(err.response.data);
          });
      },
    }
  }
</script>
