<template>
  <section>
    <h3>Delete Company</h3>
    <div class="wrap-list-companies">
      <p class="title-context">You can remove a company from the list:</p>
      <ItemListDelete
        v-for="item in allCompanies"
        :key="item._id"
        :item="item"
        @toggleSystemMessage="toggleSystemMessage"
      />
    </div>
    <SystemMessageDelete
      :class="{ showSystemMessage: isSystemMessage }"
      @toggleSystemMessage="toggleSystemMessage"
      @closeAll="closeAll"
    />
  </section>
</template>

<script>
  import ItemListDelete from "./ContextItems/ItemListDelete";
  import SystemMessageDelete from "./SystemMessages/SystemMessageDelete";
  export default {
    name: 'contextDelete',
    props: {
      allCompanies: Array
    },
    components: {
      ItemListDelete,
      SystemMessageDelete
    },
    data() {
      return {
        isSystemMessage: false,
      }
    },
    methods: {
      toggleSystemMessage() {
        this.isSystemMessage = !this.isSystemMessage;
      },
      closeAll() {
        this.toggleSystemMessage();
        this.$emit('closeModal');
      },
    }
  }
</script>
