<template>
  <div class="wrap-modal" :class="context" @click="closeModalWithCondition">
    <div class="modal-content">
      <i class="fa fa-times btn-modal-close" @click="$emit('toggleModal')"></i>
      <div class="content-body">
        <ContextAdd
          @closeModal="closeModal"
          @updateData="updateData"
          class="item-add-companies"
        />
        <ContextEdit
          @closeModal="closeModal"
          @updateData="updateData"
          :allCompanies="allCompanies"
          class="item-edit-companies"
        />
        <ContextDelete
          @closeModal="closeModal"
          @updateData="updateData"
          :allCompanies="allCompanies"
          class="item-delete-companies"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import axios from "axios";
  import { serverURL } from "../../config";

  import ContextAdd from "./ContextAdd";
  import ContextEdit from "./ContextEdit";
  import ContextDelete from "./ContextDelete";

  export default {
    name: "popup",
    props: {
      isHidden: Boolean,
      context: String
    },
    components: {
      ContextAdd,
      ContextEdit,
      ContextDelete
    },
    data() {
      return {
        allCompanies: []
      }
    },
    mounted: function() {
      this.updateData();
    },
    methods: {
      closeModalWithCondition(event) {
        if(event.target.classList.contains('wrap-modal')) {
          this.$emit('toggleModal');
        }
      },
      closeModal() {
        this.$emit('toggleModal');
      },
      updateData() {
        axios.get(`${serverURL}/allcompanies`).then(response => {
          this.allCompanies = response.data;
        });
      }
    }
  };
</script>
