<template>
  <div class="companiesInformation">
    <router-link to="/">
      <h2>Companies</h2>
    </router-link>
    <p>Here you can edit information about companies:</p>
    <div class="list-btns">
      <div v-for="btn in listButtons" class="item-list-btns" :key="btn.id">
        <button class="custom-button" @click="toggleModal(btn.context)">
          <span>{{ btn.title }}</span>
        </button>
      </div>
    </div>
    <section>
      <h3>Companies list:</h3>
     
        <ItemListEdit
          v-for="item in allCompanies"
          :key="item._id"
          :item="item"
          @updateAfterApply="updateData"
          @toggleSystemMessage="toggleSystemMessage"
        />

        

    </section>
    <div class="wrap-modal" v-if="isSystemMessage" @click="closeModalWithCondition">
      <div class="modal-content">
        <i class="fa fa-times btn-modal-close" @click="toggleSystemMessage"></i>
        <div class="content-body">
          <SystemMessageDelete
            :class="{ showSystemMessage: isSystemMessage }"
            @toggleSystemMessage="toggleSystemMessage"
            @closeAll="closeAll"
          />
        </div>
      </div>
    </div>
    <Popup
      :isHidden="isHidden"
      :context="context"
      :class="{ hiddenModal: !isHidden }"
      @toggleModal="toggleModal"
    />
  </div>
</template>

<script>
  import axios from "axios";
  import { serverURL } from "../config";
  import Popup from "./../components/Companies/Popup";
  import ItemListEdit from "./../components/Companies/ContextItems/ItemListEdit";
  import SystemMessageDelete from "./../components/Companies/SystemMessages/SystemMessageDelete";
  
  export default {
    name: 'companies',
    components: {
      Popup,
      ItemListEdit,
      SystemMessageDelete
    },
    data() {
      return {
        context: '',
        isHidden: false,
        listButtons: [{
            id: 'add',
            title: 'add',
            context: 'add-companies'
          },
          // {
          //   id: 'edit',
          //   title: 'edit',
          //   context: 'edit-companies'
          // },
          // {
          //   id: 'delete',
          //   title: 'delete',
          //   context: 'delete-companies'
          // }
        ],
        allCompanies: [],
        isSystemMessage: false,
      }
    },
    mounted: function() {
      this.updateData();
    },
    methods: {
      toggleModal(context) {
        this.isHidden = !this.isHidden;
        this.context = context;
        
        this.updateData()
        
      },
      
      updateData() {
        axios.get(`${serverURL}/allcompanies`).then(response => {
          this.allCompanies = response.data;
        });
      },
      toggleSystemMessage() {
        this.isSystemMessage = !this.isSystemMessage;
        
      },
      closeModalWithCondition(event) {
        if(event.target.classList.contains('wrap-modal')) {
          this.isSystemMessage = !this.isSystemMessage;
        }
      },
    }
  }
</script>
