<template>
  <div class="system-message">
    <p class="system-message-content">You have <span class="system-message-strong">unsaved changes</span>, do you really want to leave the page?</p>
    <div class="system-message-btns">
      <button
        class="custom-button btn-modal"
        @click="$emit('closeAll')"
      >
        Save
      </button>
      <button
        class="custom-button btn-modal"
        @click="$emit('toggleSystemMessage')"
      >
        No
      </button>
    </div>
  </div>
</template>
