<template>
  <div class="system-message">
    <p class="system-message-content">Are you sure you want <span class="system-message-strong">to delete</span> the company?</p>
    <div class="system-message-btns">
      <button
        class="custom-button btn-modal"
        @click="$emit('toggleSystemMessage')"
      >
        Yes
      </button>
      <button
        class="custom-button btn-modal"
        @click="$emit('toggleSystemMessage')"
      >
        No
      </button>
    </div>
  </div>
</template>
