<template>
  <div class="item-list-countries">
    <div class="item-list-description">
      <p>{{ item.name }}</p>
    </div>
    <div class="item-list-btns">
      <button
        @click="deleteItem"
        class="custom-button btn-modal"
      >
        delete
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: "itemListDelete",
    props: {
      item: {
        type: Object,
        required: true
      },
    },
    methods: {
      deleteItem() {
        this.$emit('toggleSystemMessage');
      }
    }
  }
</script>
