<template>
  <div class="item-list-countries">
    <div class="item-list-description">
      <span v-if="!editMode">
        {{currentName}}
      </span>
      <input
        v-if="editMode"
        type="text"
        name="currentName"
        v-model="currentName"
      >
    </div>
    <div v-if="!editMode" class="item-list-btns">
      <button 
        @click="switchToEdit"
        class="custom-button">
        Edit
      </button>
      <button
        @click="deleteItem"
        class="custom-button"
      >
        delete
      </button>
    </div>
    <div v-if="editMode" class="item-list-btns">  
      <button
        class="custom-button"
        @click="applyEdit"
      >
        save
      </button>
      <button
        class="custom-button"
        @click="setDefaultName"
      >
        cancel
      </button>
    </div>
  </div>
</template>

<script>
  import axios from "axios";
  import { serverURL } from "../../../config";
  export default {
    name: "ItemListEdit",
    props: {
      item: {
        type: Object,
        required: true
      },
    },
    data() {
      return {
        currentName: this.item.name,
        editMode: false
      }
    },
    methods: {
      switchToEdit() {
        this.editMode = true;
      },
      setDefaultName() {
        this.currentName = this.item.name;
        this.editMode = false;
      },
      editName(currentID, newName) {
        axios
          .post(`${serverURL}/editName`, { name: newName, current: currentID })
          .then(response => {
            if (response.data) {
              this.editMode = false;
              return true;
            }
          })
          .catch(err => {
            console.log(err.response.data);
          });
      },
      applyEdit() {
        this.editName(this.item._id, this.currentName);
        this.$emit('updateAfterApply');
      },
      deleteItem() {
        this.$emit('toggleSystemMessage');
      }
    }
  }
</script>
